doctype html
html(lang='zh-CN', ng-app='pm2-web')
  head
    meta(charset='UTF-8')
    title PM2 进程监控
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    meta(name='description', content='PM2 进程管理器 Web 监控界面')
    script.
      var settings = {
        version: '#{version}'
      };
    script(type='text/javascript', src='/js/vendor/angular/angular.js')
    script(type='text/javascript', src='/js/vendor/angular/angular-route.js')
    script(type='text/javascript', src='/js/vendor/angular/angular-sanitize.js')
    script(type='text/javascript', src='/js/vendor/bootstrap/ui-bootstrap-tpls-0.7.0.min.js')
    script(type='text/javascript', src='/js/vendor/reconnecting-websocket/reconnecting-websocket.min.js')
    script(type='text/javascript', src='/js/vendor/highcharts/highcharts-all.js')
    script(type='text/javascript', src='/js/vendor/highcharts-ng/highcharts-ng.min.js')
    script(type='text/javascript', src='/js/monitor.js')
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='icon', type='image/png', href='/img/favicon.png')
  body
    article(ng-view)
    footer(ng-controller='FooterController')
      small pm2-web v{{version}} · 支持 Node.js 25+
